@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@400;700&display=swap");

:root {
  --clr-primary: #fff;
  --clr-secondary: rgb(50, 153, 160);
  --clr-secondary-t: rgb(50, 153, 160, 0.7);
  --clr-white: rgb(236, 235, 235);
  --clr-black: #333;
  --clr-gray: #ccc;
  --clr-dark-gray: #666;
  --clr-overlay: rgba(0, 0, 0, 0.8);
  --clr-alt: #c168b0;
  --font1: "Open Sans", sans-serif;
  --font2: "Lato", sans-serif;
  --font-size-s: 16px;
  --font-size-m: 32px;
  --font-size-l: 45px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: var(--clr-secondary-t);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #47b2e4;
}

.nav-menu .drop-down ul {
  border-radius: 8px;
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #0c3c53;
}
.display-5 {
  font-family: var(--font1);
  font-size: var(--font-size-l);
  font-weight: 700;
}

.lead {
  font-family: var(--font2);
  color: white;
}
.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
  color: #47b2e4;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}
/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  border: red solid 1px;
  top: 20px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  color: white;
}

.mobile-nav {
  /* layout del menu responsive  */
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav a {
  font-size: 1.5rem;
  text-align: center;
  display: block;
  position: relative;
  color: #37517e;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #47b2e4;
  text-decoration: none;
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(40, 58, 90, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: rgb(65, 65, 65);
  background: linear-gradient(
      137deg,
      rgba(65, 65, 65, 0.2329306722689075) 41%,
      rgba(139, 139, 139, 1) 100%
    ),
    url("../img/team.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

.boton__hero {
  background-color: var(--clr-secondary);
  color: #fff;
  width: 50%;
}

.contenedornav {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: right;
}

@media (max-width: 991px) {
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

.section__1 {
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: #ccc; */
}

.section__2 {
  background-color: #77aa77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  /* background-attachment: fixed; */
  background-size: cover;
}

.section__3 {
  background-color: var(--clr-gray);
}

.card_1,
.card_2 {
  margin-bottom: 50px;
}

/* begin section  */
section {
  padding: 60px 0;
}

h2 {
  font-family: var(--font1);
  font-size: var(--font-size-m);
  font-weight: 700;
}

h5 {
  font-family: var(--font1);
  font-weight: 400;
  color: var(--clr-secondary);
}

p,
a {
  font-family: var(--font2);
}

/* Fin section */

/* gallery inicio */
.section__4 {
  background-color: #d4faff;
}

.gallery .gallery-item {
  overflow: hidden;
  margin: 2px;
}

.gallery-item img {
  transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/* gallery fin */

.perfil_1,
.perfil_2,
.perfil_3 {
  height: 150px;
  width: 150px;
}

/*--------------------------------------------------------------
# Profesores
--------------------------------------------------------------*/
.trainers .member {
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #eef0ef;
}

.trainers .member img {
  margin: -1px -1px 30px -1px;
}

.trainers .member .member-content {
  padding: 0 20px 30px 20px;
}

.trainers .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.trainers .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.trainers .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}

.trainers .member .social {
  margin-top: 15px;
}

.trainers .member .social a {
  color: #7e9486;
  transition: 0.3s;
}

.trainers .member .social a:hover {
  color: #5fcf80;
}

.trainers .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.back-trainer {
  background: var(--clr-secondary);
}

/* begin Contact */

.contact__back {
  background-color: var(--clr-secondary);
}
.contact .info-wrap {
  box-shadow: 0px 2px 15px var(--clr-gray);
  padding: 30px;
}

.contact .info {
}

.iform {
  font-size: 32px;
  color: var(--clr-secondary);
}

.contact .info h4 {
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--clr-black);
}

.contact .info p {
  margin-bottom: 0;
  font-size: 14px;
  color: #7a7368;
}

.contact .form {
  width: 100%;
  box-shadow: 0 0 24px 0 var(--clr-gray);
  padding: 30px;
  background: #fff;
}

.contact .form button[type="submit"] {
  background: var(--clr-secondary);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 10px;
}

/* .contact END */
.footer {
  height: 40vh;
  background-color: #d4faff;
}

/* Media Queries */
